<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Generate color by characters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" />
    <style>
      [v-cloak] {
        display: none;
      }
      body {
        transition: all 0.1s ease;
        padding: 10px;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      ul li {
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        list-style-type: none;
        margin: 0;
        transition: all 0.2s ease;
      }
      input[type=range] {
        width: 50%;
      }
      .source-link {
        font-size: 18px;
        line-height: 25px;
      }
      input[type=text] {
        color: #333;
      }
    </style>
  </head>
  <body>
    <form id="examples" class='pure-form' @submit.prevent='add' v-cloak>
      <ul>
        <li v-for='chars in examples' :style='colorize(chars)'>{{chars}}</li>
      </ul>
      <p>
        <label>
          offset: {{offset}} {{offset === 1 ? '(default)' : ''}}
          <br>
          <input type="range" step='1' max='10000' v-model='offset' name="offset">
        </label>
      </p>
      <p>
        <input type="text" v-model.trim='newchars' placeholder="try chars" autofocus>
        <input type="submit" value='add' class='pure-button pure-button-primary'>
        {{newchars ? colorize(newchars)['background-color'] : ''}}
      </p>
    </form>
    <hr>
    <a class="source-link" href="https://github.com/unclebill/color-by-chars">
      <!-- https://github.com/danklammer/bytesize-icons -->
      <svg class="i-github" viewBox="0 0 64 64" width="18" height="18">
        <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z"></path>
      </svg>
      source
    </a>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src='color-by-chars.js'></script>
    <script type="text/javascript">
      new Vue({
        el: '#examples',
        data: {
          newchars: '',
          offset: 1,
          examples: [
            'Rainbow',
            'Hello World！',
            'Brendan Eich',
            'IceFrog',
            '赤橙黄绿青蓝紫，谁持彩练当空舞', // Chinese poetry
            '孙悟空', // A Chinese myth character
            new Date().toISOString()
          ]
        },
        computed: {
          bodyStyle () {
            return this.newchars !== '' ? this.colorize(this.newchars) : null
          }
        },
        watch: {
          bodyStyle (newval) {
            if (newval) {
              document.body.style.backgroundColor = newval['background-color']
              document.body.style.color = newval['color']
            } else {
              document.body.style = null
            }
          }
        },
        methods: {
          add () {
            this.examples.push(this.newchars)
            this.newchars = ''
          },
          colorize (chars) {
            let [red, green, blue] = colorByChars(chars, this.offset)
            let gray = red * 0.3 +  green * 0.59 +  blue * 0.11;
            var inverse = gray > 128 ? '#333' : 'white';
            console.log(`%c${chars}`, `background-color: rgb(${red}, ${green}, ${blue}); color: ${inverse}`);
            return {
              'background-color': `rgb(${red}, ${green}, ${blue})`,
              'color': inverse
            }
          }
        },
        created () {
          setInterval(() => {
            this.examples.splice(6, 1, new Date().toISOString())
          }, 1000)
        }
      })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116213776-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116213776-1');
    </script>
  </body>
</html>
